# Dependencies\nnode_modules/\n.pnp\n.pnp.js\n\n# Testing\ncoverage/\n\n# Production\nbuild/\ndist/\n.next/\nout/\n\n# Misc\n.DS_Store\n*.pem\n\n# Debug\nnpm-debug.log*\nyarn-debug.log*\nyarn-error.log*\n.pnpm-debug.log*\n\n# Local env files\n.env\n.env.local\n.env.*.local\n.env.production.local\n\n# Vercel\n.vercel\n.output\n\n# IDEs\n.idea\n.vscode\n*.swp\n*.swo\n*~\n.DS_Store\nThumbs.db